/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButton {
  margin: 0 1rem;
}

.format{
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  /* margin: 2em; */
}

h1{
  padding-left: 13px;
}

p{
  padding-left: 13px;
}